<!doctype html>
<html ng-app="moviesApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS Components</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="greetercomponent/greeter-component.js"></script>
    <script src="movies-component/movies-component.js"></script>
    <script src="services/my.services.js"></script>
</head>

<body>
    <div ng-controller="moviesController">
        <div>
            <span>Film címe: </span>
            <input name="movieTitle" type="text" ng-model="movie.title"></br>
            <span>Leírás: </span>
            <input name="movieDesc" type="text" ng-model="movie.description"></br>
            <button ng-if="!editMode" ng-click="addMovie()">Hozzáad</button>
            <button ng-if="editMode" ng-click="modifyMovie()">Szerkesztés</button>
        </div>
        <button ng-click="getMoviesOnClick()">Filmek</button>
        <div>
        <ul>
            <li ng-repeat="movie in movies">
                <p>{{ movie.title }}</p>
                <p>{{ movie.description }}</p>
                <p>Azonosító: {{ movie.id }}</p>
                <button ng-click="editMovie(movie)">Szerkesztés</button>
                <button ng-click="deleteMovie(movie)">Törlés</button>
            </li>
        </ul>
        </div>
    </div>
</body>

</html>