<!doctype html>
<html ng-app="moviesApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
<script src="greeter-component/greeter-component.js"></script>
<script src="movies-component/movies-component.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body ng-controller="moviesController">
    <!--<greeter-component></greeter-component>-->
    <movies-component></movies-component>
</body>

</html>