<!doctype html>
<html  ng-app="CalculatorApp">
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src = "calculator.js"></script>
    </head>
        <body>
            <div ng-controller="CalculatorController">
                <p><input type="number" ng-model="a"></p>
                <p><input type="number" ng-model="b"></p>
                <p><select ng-model="operator">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                    </select></p>
                    <button ng-click="calculate()">Számol</button>
                    <p> Végeredmény:</p>
                    <p> {{ result }}</p>
            </div>

        </body>
</html>
